In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [14]:
data = pd.read_csv('movie_bd_v5.csv')

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [15]:
answers = {} # создадим словарь для ответов

data['profit']=data['revenue']-data['budget'] #добавим колонку для определения прибыли или убытков

#разделим данные в колонках по отдельным элементам для удобства дальнейшей работы:
data['genres'] = data['genres'].apply(lambda x:x.split('|')) 
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('/'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [16]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [17]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title.values[0] #ставим values[0] для вывода только названия фильма

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [19]:
#сгруппируем нужные параметры и отсортируем числовые данные по убыванию:

grouped_data = data.groupby(['original_title'])['budget'].sum().sort_values(ascending=False)
print(grouped_data.head(1))

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [20]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' #+

In [21]:
data[data.runtime==data.runtime.max()].original_title.values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [22]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+

data[data.runtime==data.runtime.min()].original_title.values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [23]:
answers['4'] = '110' #+

data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [24]:
answers['5'] = '107' #+

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
# лучше код получения столбца profit вынести в Предобработку что в начале

answers['6'] = 'Avatar (tt0499549)' #+

data[data.profit==data.profit.max()].original_title.values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [26]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+

data[data.profit==data.profit.min()].original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [27]:
answers['8'] = '1478' #+

len(data[data.revenue>data.budget]) #длина дает количество строк, т.е. фильмов, подходящих под условие

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
answers['9'] = 'The Dark Knight (tt0468569)' #+

data1 = data[data.release_year==2008] #создаем новый список с фильмами, выпущенными в 2008 году
data1[data1.revenue==data1.revenue.max()].original_title.values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [30]:
answers['10'] = 'The Lone Ranger (tt1210819)' #+

data1=data[(data['release_year']<= 2014)&
           (data['release_year']>=2012)] #создаем новый список с фильмами за период с 2012 по 2014 годы
data1[data1.profit==data1.profit.min()].original_title.values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [35]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = 'Drama' #+

Counter(data.explode('genres')['genres']).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [41]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().head(1)

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [54]:
answers['12'] = 'Drama' #+

data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget'] 
data['genres'] = data['genres'].apply(lambda x:x.split('|')) 

data_genres=data.explode('genres') #создаем новый список, построчно разделив отдельные элементы в колонке жанры 
data_genres[data_genres.profit>0].genres.value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [57]:
answers['13'] = 'Peter Jackson' #+

#сгруппируем необходимые параметры, произведем суммирование по кассовым сборам и отсортируем числа по убыванию:
data1.groupby(['director'])['revenue'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [80]:
answers['14'] = 'Robert Rodriguez' #+

data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget'] 

#создаем новый список только с фильмами жанра Action:
data_action = data[data.genres.str.contains('Action', na = False)]
Counter(data_action['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [85]:
answers['15'] = 'Chris Hemsworth' #+

data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget'] 
data['cast'] = data['cast'].apply(lambda x:x.split('|'))

data_2012 = data[data.release_year==2012] #создаем список только с фильмами 2012 года
data_cast2012=data_2012.explode('cast') #выносим каждого актера построчно
data_cast2012.groupby('cast').revenue.sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [87]:
#Примечание: в фильмах, где бюджет выше среднего по данной выборке.

answers['16'] = 'Matt Damon' #+

data_cast = data.explode('cast')
data_cast.loc[data_cast['budget'] > data_cast['budget'].mean()]['cast'].value_counts(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

In [90]:
#ВАРИАНТ 2

data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget'] 
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [91]:
answers['17'] = 'Action' #+

data_genres=data.explode('genres')
#создаем новый список, содержащий данные только с упомянутым актером:
data_cage = data_genres[data_genres.cast.str.contains('Nicolas Cage')]
Counter(data_cage['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [92]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' #+

data_paramount = data[data.production_companies.str.contains('Paramount Pictures')]
data_paramount[data_paramount.profit==data_paramount.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [93]:
answers['19'] = '2015' #+

data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [94]:
answers['20'] = '2014' #+

data_warner=data[data.production_companies.str.contains('Warner Bros')]
data_warner.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [111]:
answers['21'] = 'Сентябрь' #+

data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget'] 
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))

#возьмем первый элемент из полученного после split списка и добавим новую колонку с месяцами:
data['month']=data['release_date'].apply(lambda x: x[0]) 
data.groupby('month').original_title.count().sort_values(ascending=False).head(1)

month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [112]:
answers['22'] = '450' #+

len(data.loc[(data.month=='6') | (data.month=='7') | (data.month=='8')])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [113]:
answers['23'] = 'Peter Jackson' #+

data_winter = data.loc[(data.month=='1') | (data.month=='2') | (data.month=='12')]
Counter(data_winter['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [117]:
answers['24'] = 'Four By Two Productions' #+

data['title_length'] = data.original_title.apply(lambda x: len(x)) #создаем колонку с длиной названий фильмов
data['production_companies_list'] = data.production_companies.str.split("|") #создаем колонку с разделенными студиями
data_studios = data.explode('production_companies_list') #новый список, где каждая студия на отдельной строчке

data_studios.groupby('production_companies_list').title_length.mean().sort_values(ascending=False).head(1)

production_companies_list
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [118]:
answers['25'] = 'Midnight Picture Show' #+

data['overview_length'] = data.overview.apply(lambda x: len(x)) #создаем колонку с длиной описаний фильмов
data_studios = data.explode('production_companies_list') 

data_studios.groupby('production_companies_list').overview_length.mean().sort_values(ascending=False).head(1)

production_companies_list
Midnight Picture Show    1000.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [119]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

#воспользуемся функцией quantile:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [121]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' #+

data = pd.read_csv('movie_bd_v5.csv')
data['profit']= data['revenue'] - data['budget']

data['cast'] = data['cast'].apply(lambda x:x.split('|')) #делим имена актеров 
from itertools import combinations #
#сформируем комбинации актеров для каждого фильма:
data['combinations'] = data['cast'].apply(lambda x: list(combinations(x, 2))) 
data1 = data.explode('combinations')
Counter(data1['combinations']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [124]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [125]:
len(answers)

27